# Whitelist of used dot-files and directories
!.github
!.vscode
!.*

# Blacklist of dev/artifacts directories
dist
build
tmp
node_modules
playground-bundle
nuxt

LICENSE.md
CHANGELOG.md
.more-sass

# Files that use Lodash templates
nuxt-module/template.d.ts
nuxt-module/template.vue
