@use '../../mixins/base-transition.scss';

.slide-enter,
.slide-leave-to {
	opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
	transition-property: opacity, transform !important;
}

.slide-leave,
.slide-enter-to {
	opacity: 1;
}

.slide-move {
	@extend %base-move;
}
