@use '../utility/defaults/defaults.scss';

%base-move {
	transition-property: transform;
	transition-duration: defaults.$transition-duration;
	transition-duration: var(--move-duration, defaults.$transition-duration);
	transition-timing-function: defaults.$transition-easing;
	transition-delay: 0ms;
}
